    <!-- Navigation -->
    <div id="navDiv">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">EventLite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="btn btn-info">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#create">Create Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#signin">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>


    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Create Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="titleField">Title</label>
                <input type="email" class="form-control" id="titleField" placeholder="Enter Title">
              </div>
              <div class="form-group">
                <label for="orgField">Organizer</label>
                <input type="text" class="form-control" id="orgField" placeholder="Organizer">
              </div>
              <div class="form-group">
                <label for="shortDescField">Short Description</label>
                <input type="text" class="form-control" id="shortDescField" placeholder="Short Description">
              </div>
              <div class="form-group">
                <label for="longDescField">Full Description</label>
                <textarea class="form-control" id="longDescField" placeholder="Full Description"></textarea>
              </div>
              <div class="form-group">
                <label for="dateField">Date</label>
                <input type="date" class="form-control" id="dateField" placeholder="Full Description">
              </div>
              <div class="form-group">
                <label for="timeField">Time</label>
                <input type="time" class="form-control" id="timeField" placeholder="Time">
              </div>
              <div class="form-group">
                <label for="addressField">Address</label>
                <input type="text" class="form-control" id="addressField" placeholder="Address">
              </div>
              <div class="form-group">
                <label for="picField">Link to Picture</label>
                <input type="text" class="form-control" id="picField" placeholder="Picture Link">
              </div>
              <div class="form-group">
                <label for="category1">Category 1</label>
                <select class="form-control" id="category1">
                  <option>Music</option>
                  <option>Food</option>
                  <option>Sports</option>
                  <option>Political</option>
                  <option>Education</option>
                  <option>Kids</option>
                  <option>Volunteer</option>
                  <option>Professional</option>
                  <option>Arts</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="category2">Category 2</label>
                <select class="form-control" id="category2">
                  <option>Music</option>
                  <option>Food</option>
                  <option>Sports</option>
                  <option>Political</option>
                  <option>Education</option>
                  <option>Kids</option>
                  <option>Volunteer</option>
                  <option>Professional</option>
                  <option>Arts</option>
                  <option>Other</option>
                  <option>None</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="createEvent">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Please Sign In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="emailField">Email address</label>
                <input type="email" class="form-control" id="emailField" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="passwordField">Password</label>
                <input type="password" class="form-control" id="passwordField" placeholder="Password">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="fbBtn"><img src="http://static.adweek.com/adweek.com-prod/wp-content/uploads/sites/2/2013/01/fb-icon3.png" width=38px></button>
            <button type="button" class="btn btn-primary signUpBtn">Create Account</button>
            <button type="button" class="btn btn-primary signInBtn">Sign In</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {{#each events}}
      <div class="modal fade" id="{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title">{{this.title}} </h5>
              
            </div>
            <div class="modal-body">
              <img class="card-img-top" src= {{this.eventLinkPic}}>
              <h5>{{this.event_date}}</h5>
              <p>{{this.full_desc}} </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Register</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">EventLite</h1>
          <div class="btn-group-vertical" id="myBtnContainer" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" onclick="filterSelection('all')">Show All</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Music')">Music</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Food')">Food &amp; Drink</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Sports')">Sports</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Political')">Political</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Education')">Educational</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Kids')">Kids</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Volunteer')">Volunteering</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Professional')">Professional</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Arts')">Arts</button>
            <button type="button" class="btn btn-secondary" onclick="filterSelection('Other')">Other</button>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <div>
            <div class="jumbotron vertical-central">
              <div class="container-fluid text-center">
                <h1 class="display-4">{{username}}</h1>
                <p class="lead">Your Events</p>
                <p>https://cryptic-ridge-95312.herokuapp.com/api/userEvents/{{username}}</p>
              </div>
            </div>
          </div>
          
<!-- Display Each event using Handlebars -->
          <div class="row">
            <!--<script id="eventTemplate" type="text/x-handlebars-template">-->
            {{#each events}}
              <div class="col-lg-4 col-md-6 mb-4 filterDiv {{this.eventCategoryOne}} {{this.eventCategoryTwo}}">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src= {{this.eventLinkPic}} alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#" data-toggle="modal" data-target="#{{this.id}}">{{this.title}}</a> 
                    </h4>
                    <h3 class="timeDate">{{this.event_date}} </h3>
                    <p class="card-text">{{this.short_desc}} </p>
                  </div>
                </div>
              </div>
            {{/each}}
            <!--</script>-->
          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Team Green</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <script type="text/javascript">
      filterSelection("all")
      function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
          w3RemoveClass(x[i], "show");
          if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
      }   


      // Show filtered elements
      function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
          }
        }
      }

      // Hide elements that are not selected
      function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1); 
          }
        }
        element.className = arr1.join(" ");
      }

      // Add active class to the current control button (highlight it)
      var btnContainer = document.getElementById("myBtnContainer");
      var btns = btnContainer.getElementsByClassName("btn");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }


      //Darko Added 
      $('.signInBtn').on('click', function(){
          $.post("https://cryptic-ridge-95312.herokuapp.com/api/login",
          {
              username: $('#emailField').val().trim(),
              password: $('#passwordField').val().trim()
          },
          function(data, status){
            alert("Signed in!");
              window.localStorage.setItem('token', data);
              var user = $('#emailField').val().trim();
              window.location.href='/userAccount/' + user;
              return false;
              //Add something to exit modal.
          });
      });
      //Note you have to name your signup div's ids emailFieldSU and passwordFieldSU
      $('.signUpBtn').on('click', function(){
          $.post("https://cryptic-ridge-95312.herokuapp.com/api/signup",
          {
              username: $('#emailField').val().trim(),
              password: $('#passwordField').val().trim()
          },
          function(data, status){
              //Maybe make below prettier instead of an alert.
              alert('Created new account!');
          });
      });

      $('#createEvent').on('click', function(){
        console.log("hi");
          $.post("https://cryptic-ridge-95312.herokuapp.com/api/insertEvent", {
              title: $('#titleField').val().trim(),
              organizer: $('#orgField').val().trim(),
              short: $('#shortDescField').val().trim(),
              long: $('#longDescField').val().trim(),
              date: $('#dateField').val(),
              time: $('#timeField').val(),
              address: $('#addressField').val().trim(),
              pic: $('#picField').val().trim(),
              category1: $('#category1').val(),
              category2: $('#category2').val()
          },
          function(date, status){
            alert('Created new event!');
          });
      });

    </script>